<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lottery.mapper.AgRecordMapper">
    
    <resultMap type="AgRecord" id="AgRecordResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="platUserName"    column="plat_user_name"    />
        <result property="orderNo"    column="order_no"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="effectiveBet"    column="effective_bet"    />
        <result property="allBet"    column="all_bet"    />
        <result property="profit"    column="profit"    />
        <result property="betTime"    column="bet_time"    />
        <result property="wagersDate"    column="wagers_date"    />
        <result property="settleTime"    column="settle_time"    />
        <result property="modifiedDate"    column="modified_date"    />
        <result property="resultStatus"    column="result_status"    />
        <result property="serialId"    column="serial_id"    />
        <result property="gameType"    column="game_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAgRecordVo">
        select id, user_name, plat_user_name, order_no, game_id, game_name, effective_bet, all_bet, profit, bet_time, wagers_date, settle_time, modified_date, result_status, serial_id, game_type, create_time, update_time from t_ag_record
    </sql>

    <select id="selectAgRecordList" parameterType="AgRecord" resultMap="AgRecordResult">
        <include refid="selectAgRecordVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="platUserName != null  and platUserName != ''"> and plat_user_name like concat('%', #{platUserName}, '%')</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="gameId != null  and gameId != ''"> and game_id = #{gameId}</if>
            <if test="gameName != null  and gameName != ''"> and game_name like concat('%', #{gameName}, '%')</if>
            <if test="effectiveBet != null "> and effective_bet = #{effectiveBet}</if>
            <if test="allBet != null "> and all_bet = #{allBet}</if>
            <if test="profit != null "> and profit = #{profit}</if>
            <if test="params.beginBetTime != null and params.beginBetTime != '' and params.endBetTime != null and params.endBetTime != ''"> and bet_time between #{params.beginBetTime} and #{params.endBetTime}</if>
            <if test="wagersDate != null "> and wagers_date = #{wagersDate}</if>
            <if test="params.beginSettleTime != null and params.beginSettleTime != '' and params.endSettleTime != null and params.endSettleTime != ''"> and settle_time between #{params.beginSettleTime} and #{params.endSettleTime}</if>
            <if test="modifiedDate != null "> and modified_date = #{modifiedDate}</if>
            <if test="resultStatus != null  and resultStatus != ''"> and result_status = #{resultStatus}</if>
            <if test="serialId != null  and serialId != ''"> and serial_id = #{serialId}</if>
            <if test="gameType != null "> and game_type = #{gameType}</if>
        </where>
    </select>
    
    <select id="selectAgRecordById" parameterType="Long" resultMap="AgRecordResult">
        <include refid="selectAgRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAgRecord" parameterType="AgRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_ag_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="platUserName != null and platUserName != ''">plat_user_name,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="gameId != null">game_id,</if>
            <if test="gameName != null">game_name,</if>
            <if test="effectiveBet != null">effective_bet,</if>
            <if test="allBet != null">all_bet,</if>
            <if test="profit != null">profit,</if>
            <if test="betTime != null">bet_time,</if>
            <if test="wagersDate != null">wagers_date,</if>
            <if test="settleTime != null">settle_time,</if>
            <if test="modifiedDate != null">modified_date,</if>
            <if test="resultStatus != null">result_status,</if>
            <if test="serialId != null">serial_id,</if>
            <if test="gameType != null">game_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="platUserName != null and platUserName != ''">#{platUserName},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="gameName != null">#{gameName},</if>
            <if test="effectiveBet != null">#{effectiveBet},</if>
            <if test="allBet != null">#{allBet},</if>
            <if test="profit != null">#{profit},</if>
            <if test="betTime != null">#{betTime},</if>
            <if test="wagersDate != null">#{wagersDate},</if>
            <if test="settleTime != null">#{settleTime},</if>
            <if test="modifiedDate != null">#{modifiedDate},</if>
            <if test="resultStatus != null">#{resultStatus},</if>
            <if test="serialId != null">#{serialId},</if>
            <if test="gameType != null">#{gameType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAgRecord" parameterType="AgRecord">
        update t_ag_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="platUserName != null and platUserName != ''">plat_user_name = #{platUserName},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="gameName != null">game_name = #{gameName},</if>
            <if test="effectiveBet != null">effective_bet = #{effectiveBet},</if>
            <if test="allBet != null">all_bet = #{allBet},</if>
            <if test="profit != null">profit = #{profit},</if>
            <if test="betTime != null">bet_time = #{betTime},</if>
            <if test="wagersDate != null">wagers_date = #{wagersDate},</if>
            <if test="settleTime != null">settle_time = #{settleTime},</if>
            <if test="modifiedDate != null">modified_date = #{modifiedDate},</if>
            <if test="resultStatus != null">result_status = #{resultStatus},</if>
            <if test="serialId != null">serial_id = #{serialId},</if>
            <if test="gameType != null">game_type = #{gameType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAgRecordById" parameterType="Long">
        delete from t_ag_record where id = #{id}
    </delete>

    <delete id="deleteAgRecordByIds" parameterType="String">
        delete from t_ag_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>