<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lottery.mapper.sbRecordMapper">
    
    <resultMap type="sbRecord" id="sbRecordResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="platUserName"    column="plat_user_name"    />
        <result property="orderNo"    column="order_no"    />
        <result property="gameName"    column="game_name"    />
        <result property="wtype"    column="wtype"    />
        <result property="rtype"    column="rtype"    />
        <result property="tnameHome"    column="tname_home"    />
        <result property="tnameAway"    column="tname_away"    />
        <result property="league"    column="league"    />
        <result property="ioratio"    column="ioratio"    />
        <result property="effectiveBet"    column="effective_bet"    />
        <result property="allBet"    column="all_bet"    />
        <result property="profit"    column="profit"    />
        <result property="betTime"    column="bet_time"    />
        <result property="settleTime"    column="settle_time"    />
        <result property="settleStatus"    column="settle_status"    />
        <result property="resultStatus"    column="result_status"    />
        <result property="resultScore"    column="result_score"    />
        <result property="oddsFormat"    column="odds_format"    />
        <result property="parlaynum"    column="parlaynum"    />
        <result property="parlaysub"    column="parlaysub"    />
        <result property="rawData"    column="raw_data"    />
        <result property="resettlementinfo"    column="resettlementinfo"    />
        <result property="isLive"    column="is_live"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="matchDatetime"    column="match_datetime"    />
        <result property="betContent"    column="bet_content"    />
        <result property="score"    column="score"    />
    </resultMap>

    <sql id="selectsbRecordVo">
        select id, user_name, plat_user_name, order_no, game_name, wtype, rtype, tname_home, tname_away, league, ioratio, effective_bet, all_bet, profit, bet_time, settle_time, settle_status, result_status, result_score, odds_format, parlaynum, parlaysub, raw_data, resettlementinfo, is_live, create_time, update_time, match_datetime, bet_content, score from t_sb_record
    </sql>

    <select id="selectsbRecordList" parameterType="sbRecord" resultMap="sbRecordResult">
        <include refid="selectsbRecordVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="platUserName != null  and platUserName != ''"> and plat_user_name like concat('%', #{platUserName}, '%')</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="gameName != null  and gameName != ''"> and game_name like concat('%', #{gameName}, '%')</if>
            <if test="wtype != null  and wtype != ''"> and wtype = #{wtype}</if>
            <if test="rtype != null  and rtype != ''"> and rtype = #{rtype}</if>
            <if test="tnameHome != null  and tnameHome != ''"> and tname_home = #{tnameHome}</if>
            <if test="tnameAway != null  and tnameAway != ''"> and tname_away = #{tnameAway}</if>
            <if test="league != null  and league != ''"> and league = #{league}</if>
            <if test="ioratio != null "> and ioratio = #{ioratio}</if>
            <if test="effectiveBet != null "> and effective_bet = #{effectiveBet}</if>
            <if test="allBet != null "> and all_bet = #{allBet}</if>
            <if test="profit != null "> and profit = #{profit}</if>
            <if test="betTime != null "> and bet_time = #{betTime}</if>
            <if test="settleTime != null "> and settle_time = #{settleTime}</if>
            <if test="settleStatus != null "> and settle_status = #{settleStatus}</if>
            <if test="resultStatus != null  and resultStatus != ''"> and result_status = #{resultStatus}</if>
            <if test="resultScore != null  and resultScore != ''"> and result_score = #{resultScore}</if>
            <if test="oddsFormat != null  and oddsFormat != ''"> and odds_format = #{oddsFormat}</if>
            <if test="parlaynum != null "> and parlaynum = #{parlaynum}</if>
            <if test="parlaysub != null  and parlaysub != ''"> and parlaysub = #{parlaysub}</if>
            <if test="rawData != null  and rawData != ''"> and raw_data = #{rawData}</if>
            <if test="resettlementinfo != null  and resettlementinfo != ''"> and resettlementinfo = #{resettlementinfo}</if>
            <if test="isLive != null "> and is_live = #{isLive}</if>
            <if test="matchDatetime != null "> and match_datetime = #{matchDatetime}</if>
            <if test="betContent != null  and betContent != ''"> and bet_content = #{betContent}</if>
            <if test="score != null  and score != ''"> and score = #{score}</if>
        </where>
    </select>
    
    <select id="selectsbRecordById" parameterType="Long" resultMap="sbRecordResult">
        <include refid="selectsbRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertsbRecord" parameterType="sbRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_sb_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="platUserName != null and platUserName != ''">plat_user_name,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="gameName != null">game_name,</if>
            <if test="wtype != null">wtype,</if>
            <if test="rtype != null">rtype,</if>
            <if test="tnameHome != null">tname_home,</if>
            <if test="tnameAway != null">tname_away,</if>
            <if test="league != null">league,</if>
            <if test="ioratio != null">ioratio,</if>
            <if test="effectiveBet != null">effective_bet,</if>
            <if test="allBet != null">all_bet,</if>
            <if test="profit != null">profit,</if>
            <if test="betTime != null">bet_time,</if>
            <if test="settleTime != null">settle_time,</if>
            <if test="settleStatus != null">settle_status,</if>
            <if test="resultStatus != null">result_status,</if>
            <if test="resultScore != null">result_score,</if>
            <if test="oddsFormat != null">odds_format,</if>
            <if test="parlaynum != null">parlaynum,</if>
            <if test="parlaysub != null">parlaysub,</if>
            <if test="rawData != null">raw_data,</if>
            <if test="resettlementinfo != null">resettlementinfo,</if>
            <if test="isLive != null">is_live,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="matchDatetime != null">match_datetime,</if>
            <if test="betContent != null">bet_content,</if>
            <if test="score != null">score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="platUserName != null and platUserName != ''">#{platUserName},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="gameName != null">#{gameName},</if>
            <if test="wtype != null">#{wtype},</if>
            <if test="rtype != null">#{rtype},</if>
            <if test="tnameHome != null">#{tnameHome},</if>
            <if test="tnameAway != null">#{tnameAway},</if>
            <if test="league != null">#{league},</if>
            <if test="ioratio != null">#{ioratio},</if>
            <if test="effectiveBet != null">#{effectiveBet},</if>
            <if test="allBet != null">#{allBet},</if>
            <if test="profit != null">#{profit},</if>
            <if test="betTime != null">#{betTime},</if>
            <if test="settleTime != null">#{settleTime},</if>
            <if test="settleStatus != null">#{settleStatus},</if>
            <if test="resultStatus != null">#{resultStatus},</if>
            <if test="resultScore != null">#{resultScore},</if>
            <if test="oddsFormat != null">#{oddsFormat},</if>
            <if test="parlaynum != null">#{parlaynum},</if>
            <if test="parlaysub != null">#{parlaysub},</if>
            <if test="rawData != null">#{rawData},</if>
            <if test="resettlementinfo != null">#{resettlementinfo},</if>
            <if test="isLive != null">#{isLive},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="matchDatetime != null">#{matchDatetime},</if>
            <if test="betContent != null">#{betContent},</if>
            <if test="score != null">#{score},</if>
         </trim>
    </insert>

    <update id="updatesbRecord" parameterType="sbRecord">
        update t_sb_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="platUserName != null and platUserName != ''">plat_user_name = #{platUserName},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="gameName != null">game_name = #{gameName},</if>
            <if test="wtype != null">wtype = #{wtype},</if>
            <if test="rtype != null">rtype = #{rtype},</if>
            <if test="tnameHome != null">tname_home = #{tnameHome},</if>
            <if test="tnameAway != null">tname_away = #{tnameAway},</if>
            <if test="league != null">league = #{league},</if>
            <if test="ioratio != null">ioratio = #{ioratio},</if>
            <if test="effectiveBet != null">effective_bet = #{effectiveBet},</if>
            <if test="allBet != null">all_bet = #{allBet},</if>
            <if test="profit != null">profit = #{profit},</if>
            <if test="betTime != null">bet_time = #{betTime},</if>
            <if test="settleTime != null">settle_time = #{settleTime},</if>
            <if test="settleStatus != null">settle_status = #{settleStatus},</if>
            <if test="resultStatus != null">result_status = #{resultStatus},</if>
            <if test="resultScore != null">result_score = #{resultScore},</if>
            <if test="oddsFormat != null">odds_format = #{oddsFormat},</if>
            <if test="parlaynum != null">parlaynum = #{parlaynum},</if>
            <if test="parlaysub != null">parlaysub = #{parlaysub},</if>
            <if test="rawData != null">raw_data = #{rawData},</if>
            <if test="resettlementinfo != null">resettlementinfo = #{resettlementinfo},</if>
            <if test="isLive != null">is_live = #{isLive},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="matchDatetime != null">match_datetime = #{matchDatetime},</if>
            <if test="betContent != null">bet_content = #{betContent},</if>
            <if test="score != null">score = #{score},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletesbRecordById" parameterType="Long">
        delete from t_sb_record where id = #{id}
    </delete>

    <delete id="deletesbRecordByIds" parameterType="String">
        delete from t_sb_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>